@import url('../../index.css');

.people {
  padding: 10px;
  display: flex;
  flex-direction: column;
  border: 1px solid var(--blue-color);
  border-radius: 15px;
  transition: all 0.3s;
}

.people__subtitle {
  font-size: large;
  font-weight: 600;
}

.people:hover {
  cursor: pointer;
}

.lightPeople:hover {
  box-shadow: 4px 5px 3px 1px rgba(0, 0, 255, 0.2);
}

.darkPeople:hover {
  box-shadow: 4px 5px 3px 1px rgba(239, 239, 242, 0.2);
}
