@import url('../../index.css');

.saveWrapper {
  position: fixed;
  right: 10%;
  bottom: 80px;
  padding: 20px;
  display: flex;
  gap: 10px;
  flex-direction: column;
  border: 1px solid var(--blue-color);
  border-radius: 15px;
}

.selected {
  font-size: 1.5rem;
}
