.formSearch {
  display: flex;
  justify-content: center;
  gap: 30px;
  width: 100%;
}

.formSearch__input {
  padding: 5px;
  min-width: 40%;
  border-radius: 10px;
  border: 1px solid #3eadf7;
  font-size: 1rem;
}
.formSearch__input:focus,
.formSearch__button:focus {
  outline: none;
}
