.link {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #a0d5f8;
  cursor: pointer;
  transition: 0.25s;
  text-decoration: none;
}

.link:hover {
  background-color: #8ccffb;
  border-color: #ccd9e4;
}
