@import url('./App.css');

#__next {
  margin: 0 auto;
  width: 100%;
  max-width: 1000px;
}

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  --blue-color: #3eadf7;
}

body {
  margin: 0;
  display: flex;
  width: 100vw;
  min-width: 320px;
  min-height: 100vh;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #a0d5f8;
  cursor: pointer;
  transition: 0.25s;
}

button:hover {
  background-color: #8ccffb;
  border-color: #ccd9e4;
}

button:focus,
button:active,
button:focus-visible {
  outline: none;
}
